<% include head.ejs %>

<body>
  <h1>Create your account now!</h1>
  <form action=/ method=post enctype="multipart/form-data">
    <label>Your name <input name=name></label>
    <label>Profile picture<input name=profile type=file accept=image/*> </label> 
    <label>Age<input name=age></label>
    <label> Interests <textarea name=interests rows=5></textarea> </label>
    <button>Add</button>
  </form>
</body>
<% include tail.ejs %>

</html>