<% include head.ejs %>
<body>
<h1>Movies</h1>
<% for (var index = 0; index < data.length; index++) { %>
  <h2>
    <a href="/<%= data[index].id %>">
      <%= data[index].name %>
    </a>
  </h2>
  <p><%= data[index].age %></p>
<% } %>

<p>
    <a href=/add>Add a person</a>
  </p>
</body>
<% include tail.ejs %>
</html>